<!DOCTYPE html>
<html>
    <head>
        <title>Connect</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="header"></div>
            <div class="content">
                <h2 class="heading">CONNECT</h2>
                <form method="POST" action="/room">
                    <input type="text" placeholder="Username" class="username" name="username">
                    <input type="text" placeholder="Room Id" class="roomname" name="roomname">
                    <input type="submit" value="Enter">
                </form>
            </div>
        </div>
    </body>
</html>